:root{
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5ff;

  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  --ff-asap: "Asap", sans-serif;
  --ff-inconsolata: "Inconsolata", monospace;
  --ff-maven: "Maven Pro", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  max-width: 1366px;
  background-color: var(--gray-500);
}

.body{
  font-size: 1rem;
}

.container{
  padding-inline: 163px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}