.info{
  width: 100%;
  background-image: url(../assets/image/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: contain;

  & .container{
    padding-block: 120px 183px;
    text-align: center;
  
    & .user{
      max-width: 680px;
      margin: 0 auto;

      & .avatar{
        position: relative;
        width: 112px;
        height: 112px;
        margin: 0 auto;

        & .avatar-icon{
          position: absolute;
          bottom: 5px;
          right: 0;
        }
      }

      & .detail {
        margin-top: 56px; 
      }

      & .profession{
        margin-top: 8px;
        }

      & .description{
        margin-top: 20px;
      }
    }

    & .skills {
      margin-top: 80px;
    
      & ul{
        max-width: 754px;
        height: 40px;
        margin: 0 auto;
        gap: 1rem;
          
      & li{        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        color: var(--gray-200);
        background-color: var(--gray-400);
        padding: .5rem 1rem;
        border-radius: 999rem; 

        & .icon-github{
          color: var(--gray-200);
        }

        & .icon-html{
          color: var(--red);
        }

        & .icon-css{
          color: var(--blue);
        }

        & .icon-javascript{
          color: var(--yellow)
        }

        & .icon-react{
          color: var(--blue);
        }

        & .icon-node{
          color: var(--green);
        }

        }  
        
      }
    }
    
    & .btn-icon img{
      margin-top: 94px;
    }
   } 
}